<!DOCTYPE html>
<html lang="en-US">
  <%- include("../partials/head.ejs", { title: "Activity" }) %>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <section class="main-content">
      <p>Here is a list of (most of the) small side projects I've in the last few years in chronological order.</p>

      <ul>
        <% for( let i = 0; i < Object.keys(activity).length; i++ ) { %>
          <li>
            <%= Object.keys(activity)[i] %>
            <ul>
              <% for( project of activity[Object.keys(activity)[i]] ) { %>
                <li>
                  <a href="<%= project.link %>" target="_blank">
                    <%= project.title %>:
                  </a>
                  <%= project.description %>
                </li>
              <% } %>
            </ul>
          </li>
        <% } %>
      </ul>
    </section>  
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
